<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="courses" class="org.katheer.bean.Course">
        <property name="courses">
            <props>
                <prop key="Java">Katheer</prop>
                <prop key="C">Dhanalakshmi</prop>
                <prop key="C++">Vinoth</prop>
                <prop key="Java">Katheer</prop>
            </props>
        </property>
    </bean>
</beans>